@use '../abstracts/' as a;

.header {
  height: a.$header-height;
  display: flex;
  justify-content: flex-end;

  &__heading--primary {
    font-family: "Spartan";
    font-weight: 100;
    font-size: 3rem;
    color: a.$color-light-grey;
  }
  &__link {
    height: 3rem;
  }
}
